REACT_APP_USER_SERVICE_URL=http://localhost:8080
REACT_APP_CHAT_SERVICE_URL=http://localhost:3001
REACT_APP_POSTS_SERVICE_URL=http://localhost:8083
REACT_APP_PROFILE_SERVICE_URL=http://localhost:8081
REACT_APP_MONITORING_URL=http://localhost:8082/monitoring

